@model List<Team>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Teams:</h1>
    @foreach (var team in Model)
    {
        <div>Name: @team.Name (@team.Drivers.Count)</div>
        @foreach (var driver in team.Drivers)
        {
            <div>Driver: @driver.Name</div>
        }
        <br/>
    }
</div>
